.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
}
*{
box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Head Section */
nav{
    display: flex;
    justify-content: space-around; 
}
.search{
    background-color: rgba(241, 241, 241, 1);
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    border: none;
}
.search-parent{
    position: relative;
}
.icon{
    position: absolute;
    top: 15%;
    right: 20px;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-items li a{
    text-decoration: none;
}

/* Banner Section */

.banner{
    background-color: rgba(254, 234, 233, 1);
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}
.banner h3{
   font-size: 54px;
   color: rgba(31, 31, 31, 1);
   font-weight: 700px;
} 
.banner p{
    color: rgba(78, 78, 78, 1);
    font-size: 16px;
    margin-right: 100px;
}
.banner-price{
    font-size: 41px;
    font-weight: bold;
    color: rgba(255, 19, 111, 1);
    display: block;
    margin-bottom: 8px;
}
.banner-bt{
    background-color: rgba(255, 88, 155, 1);
    padding: 20px 25px;
    border-radius: 6px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.Categories{
    display: flex;
    gap: 26px;
}
.container h2{
    padding: 30px
}
.categories-card{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 156, 53, 1);
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.categories-card-2{
    background-color: rgba(255, 19, 111, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.categories-card-3{
     display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66, 137, 255, 1);
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.categories-card h3{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.categories-card-2 h3{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.categories-card-3 h3{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
/* Shoes and Bag Section */
/* Shoes */
.shoe-card-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.all{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.all p{
    font-variant: 20px;
    color: rgba(255, 157, 0, 1);
}
.container h1{
    color: rgba(31, 31, 31, 1);
    font-size: 36px;
}
.shoes-section{
    background-color: rgba(244, 244, 244, 1);
    padding: 50px 0;
}
.shoe-card img{
    width: 336px;
    height: 202px;
}
.shoe-card{
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.card-price{
    display: block;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.shoe-card .banner-bt{
    background-color: black;
}